<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aldila.Properties.Settings.AldilaConnectionString"
            connectionString="Data Source=103.48.195.37;Initial Catalog=ALD_MFG;Persist Security Info=True;User ID=sa;Password=100100"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SqlConstring" value="Data Source=localhost;Initial Catalog=ALD_MFG;User ID=sa; Password=100100" />
    <add key="Ipcloud" value="192.168.0.116" />
    <add key="Task" value="ZMike3" />
    <add key="Station" value="OD Machine No.03" />
    <add key="Time" value="200" />
    <add key="Qty" value="5" />
    <add key="Initial" value="5" />
  </appSettings>
</configuration>
