<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="SqlConstring" value="Data Source=192.168.96.8;Initial Catalog=ALD_MFG;User ID=mfg; Password=Mfg@321!" />
    <add key="Ipcloud" value="192.168.96.8" />
    <add key="Task" value="ZMike1" />
    <add key="Station" value="OD Machine No.01" />
    <add key="Time" value="200" />
    <add key="Qty" value="5" />
    <add key="Initial" value="2" />
  </appSettings>
</configuration>
