<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Aldila.Properties.Settings.AldilaConnectionString"
            connectionString="Data Source=103.48.195.37;Initial Catalog=Aldila;Persist Security Info=True;User ID=sa;Password=R00t!@#$%i%L5X%!Q"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>